/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Lato&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto&display=swap');

/* commmon style or utillities */
body {
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color: azure;
    font-weight: 700;
    font-size: 3em;
}

.top-banner p {
    color: beige;
    font-weight: 400;
}

.top-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
}

.container {
    display: flex;
    background-color: #1E1E1E;
    align-items: center;
    border-radius: 30px;
    margin: 50px 110px;
}

.top-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5em;
}

.top-banner img {
    width: 140%;
}

.live-button {
    width: 180px;
    height: 60px;
    color: aliceblue;
    background-color: #DD0000;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.live-button:hover {
    background-color: gray;
}

/* Navigation */


.navigation-container {
    display: flex;
    justify-content: center;

}

.navigation {
    width: 260px;
    height: 260px;
    background-color: #1E1E1E;
    border-radius: 5px;

}

.blogs {
    display: flex;
    flex-direction: column;
}

.blogs button {
    width: 190px;
    height: 40px;
    margin: 22px 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.blog {
    background-color: #DD0000;
    color: aliceblue;
}

.box-1 {
    flex-grow: 1;
    padding-left: 110px;
}

.box-2 {
    flex-grow: 2;
    padding-right: 110px;
}

.match {
    display: flex;
    padding: 20px;
    align-items: center;
    font-weight: 600;
}

.match-day {
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
}

.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

/* hidden items*/
.hidden {
    display: none;
}

/* footer styles */
footer {
    text-align: center;

    background-color: #161616;
    ;
    color: #FFFFFF;
    padding: 100px;
}

footer h2 {
    font-weight: 600;
    font-size: 30px;
}

footer hr {
    color: #FFFFFF;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}


/*---- Media Querise---- */

/* Mobile Devices */

@media only screen and (max-width:668px) {

    .container,
    .navigation-container {
        width: 90%;
        margin: 0;
    }

    .container,
    .top-banner,
    .navigation-container,
    .news-videos,
    .footer-text {
        justify-content: center;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet Devices */

@media only screen and (min-width:688px) and (max-width:992px) {

    .container,
    .navigation-container {
        width: 100%;
    }

    .box-1,
    .box-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .news-videos {
        grid-template-columns: repeat(2, 1fr);
    }

    .hidden {
        display: flex;
        text-align: center;
    }
}